[user]
    name  = student
    email = example@gmail.com
[core]
    editor = vim
[color]
    ui = true
[diff]
    tool = kdiff3
[merge]
    tool = kdiff3
    conflictstyle = diff3
[branch]
    autosetuprebase = never
[fetch]
    prune = true
[pull]
    default = current
[gitconfig]
    version = 2
[push]
    default = simple
[alias]
    st = status
    cm = commit -m
    cam = commit -a -m
    co = checkout
    di = diff
    br = branch
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
[difftool]
    prompt = no
[credential]
    helper = store
